{% extends "base.html" %}
{% block content %}

    <main>
        <section class="about-content">
            <h1>Über GameConnect</h1>
            <div class="about-grid">
                <div class="about-text">
                    <p>GameConnect ist die Community für Brettspiel-Enthusiasten in Deutschland. Seit 2025 verbinden wir Spieler aus der ganzen Welt, um gemeinsam Brettspiele zu entdecken, zu spielen und zu genießen.</p>
                    <h2>Unsere Mission</h2>
                    <p>Wir möchten eine Community schaffen, in der Brettspiele für alle zugänglich sind. Unser Ziel ist es, neue Spieler zu inspirieren und erfahrene Spieler zu unterstützen.</p>
                </div>
            </div>
        </section>

        <section class="contact-info">
            <h2>Kontaktiere uns</h2>
            <div class="contact-grid">
                <div class="contact-card">
                    <h3>Email</h3>
                    <p>wagner_christoph@teams.hs-ludwigsburg.de</p>
                </div>
                <div class="contact-card">
                    <h3>Adresse</h3>
                    <p>GameConnect<br>
                    Schwieberdingerstraße 74<br>
                    71636 Ludwigsburg</p>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}
