{% extends 'base.html' %}

{% block content %}

<img src="/media/report_images/Trello.jpg" alt="Trello">
<img src="/media/report_images/Reddit.jpg" alt="Reddit">
<img src="/media/report_images/bbg.jpg" alt="Boardgamegeek">
<img src="/media/report_images/account.jpg" alt="MocupAccount">
<img src="/media/report_images/board.jpg" alt="MocupBoard">
<img src="/media/report_images/index.jpg" alt="htmlindex">
<img src="/media/report_images/games.jpg" alt="htmlgames">
<img src="/media/report_images/Zeitplan.jpg" alt="Zeitplan">
<img src="/media/report_images/DjangoAuth.jpg" alt="DjangoAuth">
<img src="/media/report_images/authurls.jpg" alt="AuthUrls">
<img src="/media/report_images/accountsApp.jpg" alt="AccountsApp">
<img src="/media/report_images/LogInSettings.jpg" alt="LogInSettings">
<img src="/media/report_images/accountsUrls.jpg" alt="accountsUrls">
<img src="/media/report_images/accountsViews.jpg" alt="accountsViews">
<img src="/media/report_images/loginHtml.jpg" alt="loginHtml">
<img src="/media/report_images/signUpHtml.jpg" alt="signUpHtml">

{% endblock %}
